
.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Azeret Mono', monospace;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.game {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.game-info {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.gotobutton {
  border: 1px solid #999;
  border-radius: 12px;
}

.simplelist {
  list-style-type: none;
  padding: 0;
}

.centeredText {
  text-align: center;
}

.game-board {
  margin-bottom: 20px;
}
